[Unit]
Description=Launch the WAN failover script
After=network.target
#ConditionPathExists=/usr/bin/wfs

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/wfs
ExecStop=/bin/bash /usr/bin/wfs --stop
#Restart=on-failure

[Install]
WantedBy=graphical.target